/* BODY SECTION */
* {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    ;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

/* HEADER SECTION */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    min-width: 1000px;
    height: 12%;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.header-logo {
    width: 16%;
    margin: 0 2%;
}

.header-logo img {
    display: block;
    height: 60px;
    padding: 5px;
    margin: auto;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 38%;
    margin-right: 2%;
}

.header-buttons button {
    background-color: #CDE0C9;
    border-radius: 48px;
    width: 25%;
    height: 55px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header-buttons .button-activated {
    background-color: #68B2A0;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 48px;
    width: 30%;
    height: 50px;
    background-color: #F5F5F2;
}

.header-search input {
    width: 70%;
    margin-left: 5%;
    border: none;
    font-size: 18px;
    background-color: #F5F5F2;
}

.header-search button {
    width: 15%;
    height: 55px;
    padding: 0;
}

.header-search img {
    height: 25px;
}

.header-menu {
    width: 10%;
}

.header-menu button {
    display: block;
    margin: auto;
}

.header-menu img {
    height: 55px;
}

/* BODY SECTION */

