/* BODY SECTION */
* {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    ;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

/* HEADER SECTION */
header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    min-width: 1000px;
    height: 12%;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.header-logo {
    width: 16%;
    margin: 0 2%;
}

.header-logo img {
    display: block;
    height: 60px;
    padding: 5px;
    margin: auto;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 38%;
    margin-right: 2%;
}

.header-buttons button {
  width: 25%;
  height: 55px;
}

.green-button {
    background-color: #CDE0C9;
    border-radius: 48px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.button-activated {
    background-color: #68B2A0;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 48px;
    width: 30%;
    height: 50px;
    background-color: #F5F5F2;
}

.header-search input {
    width: 70%;
    margin-left: 5%;
    border: none;
    font-size: 18px;
    background-color: #F5F5F2;
}

.header-search button {
    width: 15%;
    height: 55px;
    padding: 0;
}

.header-search img {
    height: 25px;
}

.header-menu {
    width: 10%;
}

.header-menu button {
    display: block;
    margin: auto;
}

.header-menu img {
    height: 55px;
}

/* CONTENT SECTION */
body {
  position: absolute;
  top: 12%;
  min-width: 1000px;
}

main {
  width: 80%;
  margin: 0 auto;
}

section {
  margin: 0 auto 50px auto;
  width: 100%;
  display: flex;
}

section .back-button {
  position: relative;
}

section .arrow-button {
  display: flex;
  justify-content: center;
  margin: auto;
  /* width: 10%; */
}

section .arrow-button img {
  width: 30px;
}

section .detail-image {
  width: 75%;
}

.detail-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detail-tabs button {
  width: 20%;
  height: 50px;
}

.divider {
  border-bottom: solid 1px #2C6975;
  width: 100%;
  height: 50px;
}

.detail-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  font-size: 18px;
}

.detail-content p, ol {
  width: 80%;
  margin: 0 auto;
}

.detail-content ol {
  line-height: 2;
}

.detail-content li {
  width: 100%;
}

.detail-content ol ol {
  width: 100%;
  margin: 0;
}