* {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    ;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

header {
    position: fixed;
    top: 0;
    background-color: #68B2A0;
    width: 100%;
    min-width: 1000px;
    height: 12%;
    min-height: 70px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.header-logo {
    width: 16%;
    margin: 0 2%;
}

.header-logo img {
    display: block;
    height: 60px;
    padding: 5px;
    margin: auto;
}

.header-buttons {
    display: flex;
    justify-content: space-around;
    width: 19.9%;
    height: 33%;
    margin-right: 5%;
}

.header-buttons button {
    background-color: #68B2A0;
    border: none;
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.header-buttons .button-activated {
    font-weight: normal;
}

.header-login {
    width: 8%;
    margin-left: 40%;
}

.header-login button {
    background-color: #68B2A0;
    border: none;
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.header-search {
    width: 3%;
    margin-left: 0 1%;
}

.header-search img {
    height: 33px;
}

.header-search button {
    display: block;
    margin: auto;
    background-color: #68B2A0;
    border: none;
}


.header-instagram {
    width: 2%;
    margin-left: 1%;
    margin-right: 3%;
}

.header-instagram button {
    background-color: #68B2A0;
    border: none;
    display: block;
    margin: auto;
}

.header-instagram img {
    height: 33px;
}

.main-login-left {
    box-sizing: border-box;
    position: fixed;
    top: 12%;
    width: 50%;
    min-width: 200px;
    height: 88%;
    min-height: 500px;
    background-color: aquamarine;
}

.main-login-left h1 {
    margin-top: 30%;
    margin-left: 24%;
    font-weight: bold;
    font-size: 6.66vmin;
    line-height: 9.7vmin;
    overflow: hidden;
    color: #FFFFFF;
}

.whiteline {
    margin-top: 2.6%;
    margin-left: 24%;
    width: 52%;
    height: 0px;
    border: 4px solid #FFFFFF;
}

.main-login-left h3 {
    margin-top: 2.6%;
    margin-left: 24%;
    font-weight: 500;
    font-size: 3.33vmin;
    line-height: 4.85vmin;
    color: #FFFFFF;
    overflow: hidden;
}

.main-login-right {
    box-sizing: border-box;
    position: fixed;
    top: 12%;
    width: 50%;
    min-width: 200px;
    height: 88%;
    min-height: 500px;
    margin-left: 50%;
    background-color: rgb(127, 219, 255);
}

.main-login-right section {
    margin-top: 23%;
    margin-left: 30%;
}

.main-login-right p {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 6.7%;
    color: #FFFFFF;
}

.main-login-right input {
    width: 44%;
    height: 7.8%;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 2%;
    color: #FFFFFF;
}

.main-login-right h4 {
    margin-top: 18%;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    width: 44%;
    height: 7.8%;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0);

}