<div class="facility-new">
    <header class="gym-new-header">
        <div class="header-logo">
            <a href="./intro.html">
                <img src="../assets/logo.png">
            </a>
        </div>
        <div class="header-buttons">
            <a href="/gym">
                헬스
            </a>
            <a href="/yoga">
                요가
            </a>
            <a href="/pilates" class="green-button">
                필라테스
            </a>
        </div>
        <div class="header-search">
            <input type="text">
        <button class="header-search-button">
                <img src="../assets/search.png" alt="search icon"/>
            </button>
        </div>
        <div class="header-menu">
            <button>
                <img src="../assets/hamburger.png" alt="hamburger menu"/>
            </button>
        </div>
    </header>
    <main>
        <div class="left">
            <img src="../assets/likesha.png">
            <h1>
                시설의 정보를 등록해주세요
            </h1>
            <div class="whiteline"></div>
            <h3>
                서울대학교 근처의 헬스장, 필라테스, <br>
                요가라면 어디든 좋아요
            </h3>
        </div>
        <%= form_tag gym_new_path do %>
            <div class="right">
                <div class="name">
                    이름
                </div>
                <div class="input-name">
                    <input type="text" name="name">
                </div>
                <div class="location">
                    위치
                </div>
                <div class="input-location" name="location">
                    <input type="text" name="location">
                </div>
                <div class="capacity">
                    수용 가능 인원
                </div>
                <div class="input-capacity">
                    <input type="number" step="5" name="capacity">
                </div>
                <div class="equipment">
                    운동 기구
                </div>
                <div class="treadmill">
                    런닝머신
                </div>
                <div class="input-treadmill">
                    <input type="number" name="treadmill">
                </div>
                <div class="rack">
                    바벨
                </div>
                <div class="input-rack">
                    <input type="number" name="barbell">
                </div>
                <div class="legpress">
                    레그프레스
                </div>
                <div class="input-legpress">
                    <input type="number" name="leg_press">
                </div>
                <div class="locker">
                    탈의실 락커
                </div>
                <div class="input-locker">
                    <input type="number" name="locker_room">
                </div>
                <div class="shower">
                    샤워기
                </div>
                <div class="input-shower">
                    <input type="number" name="shower_room">
                </div>
                <div class="price">
                    가격 (원)
                </div>
                <div class="month1">
                    1개월
                </div>
                <div class="input-month1">
                    <input type="text" name="price_1m">
                </div>
                <div class="month3">
                    3개월
                </div>
                <div class="input-month3">
                    <input type="text" name="price_3m">
                </div>
                <div class="month12">
                    12개월
                </div>
                <div class="input-month12">
                    <input type="text" name="price_12m">
                </div>
                <div class="detail">
                    시설 정보
                </div>
                <div class="input-detail">
                    <input type="text" name="description">
                </div>
                <div class="submit">
                    <button type="submit">
                        등록하기
                    </button>
                </div>
            </div>
        <% end %>
    </main>
</div>