<div id="new1">    
    <header>
        <div class="detail-tabs">
            <button class="green-button" onClick="location.href='/gym/show/1'">
              시설
            </button>
            <button class="green-button" onClick="location.href='./price'">
              가격
            </button>
            <button class="green-button button-activated" onClick="location.href='/post/new1'">
              참가
            </button>
            <button class="green-button" onClick="location.href='/review/index'">
              후기
            </button>
          </div>
    </header>
    <main>
      <!-- PHOTO -->
      <section>
        <div class="arrow-button">
          <button>
            <img src="/images/left-arrow.png" alt="left arrow">
          </button>
        </div>
        <img class="detail-image" src="/images/gym.png" alt="gym">
        <div class="arrow-button">
          <button>
            <img src="/images/right-arrow.png" alt="right arrow">
          </button>
        </div>
      </section>
      <!-- DIVIDER -->
      <div class="divider">
      </div>
        <div class="participate">
            <div class="upper">
                <div class="participate-1">
                     <p>오늘 관악에서 같이 헬스 할 사람?</p>
                    <p class="more-info">1명 / 3명. 10:00pm</p>
                    <button class="participate-button" onclick="alert('참가되었습니다.')">
                        <img src="/images/tick.png" alt="참가하기">
                    </button>
                </div>
                <div class="participate-2">
                    <p>10시에 운동하고 치맥하러 가요</p>
                    <p class="more-info">3명 / 5명. 08:00pm</p>
                    <button class="participate-button" onclick="alert('참가되었습니다.')">
                        <img src="/images/tick.png" alt="참가하기">
                    </button>
                </div>
            </div>
            <div class="lower">
                <div class="participate-3">
                    <p>관악 헬스장 가기 전에 가볍게 조깅해요</p>
                    <p class="more-info">2명 / 3명. 05:00pm</p>
                    <button class="participate-button" onclick="alert('참가되었습니다.')">
                        <img src="../assets/tick.png" alt="참가하기">
                    </button>
                </div>
                <div class="participate-4">
                    <p>목표는 바디프로필 촬영</p>
                    <p class="more-info">4명 / 9명. 상시모집</p>
                    <button class="participate-button" onclick="alert('참가되었습니다.')">
                        <img src="../assets/tick.png" alt="참가하기">
                    </button>
                </div>
            </div>
        </div>
    </main>
    <div class="scrollback">
        <button>
            <a href="#">
                <img src="../assets/scrollback.png">
            </a>
        </button>
    </div>
   <form action="/post/create" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="bottom-bar">
        <div class="input">
            <div class="upper-input">
                <input type="text" placeholder="인원" class="people" name="number" value="">
                <input type="text" placeholder="시간" class="time" name="time" value="">
            </div>
            <div class="lower-input">
                <input type="text" placeholder="제목" class="title" name="title" value="">
            </div>
        </div>
        <div class="check-button" onclick="alert('작성되었습니다.')">
          <input type="submit" src="/images/check.png">
        </div>
    </div>
   </form>
</div>