/* BODY SECTION */
* {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

/* HEADER SECTION */
.header-intro {
    position: fixed;
    top: 0;
    background-color: #68B2A0;
    width: 100%;
    min-width: 1000px;
    height: 12%;
    min-height: 70px;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-around;
}

.header-logo-intro {
    width: 16%;
    margin: 0 2%;

    img {
        display: block;
        height: 60px;
        padding: 5px;
        margin: auto;
    }
}

.header-buttons-intro {
    display: flex;
    justify-content: space-around;
    width: 19.9%;
    height: 33%;
    margin-right: 5%;

    button {
        background-color: #68B2A0;
        border: none;
        font-size: 18px;
        font-weight: 300;
        color: white;
    }

    .button-activated {
        font-weight: normal;
    }
}

.header-login-intro {
    width: 8%;
    margin-left: 40%;

    button {
        background-color: #68B2A0;
        border: none;
        font-size: 18px;
        font-weight: 300;
        color: white;
    }
}

.header-search-intro {
    width: 3%;
    margin-left: 0 1%;

    img {
        height: 33px;
    }

    button {
        display: block;
        margin: auto;
        background-color: #68B2A0;
        border: none;
    }
}

.header-instagram-intro {
    width: 2%;
    margin-left: 1%;
    margin-right: 3%;

    button {
        background-color: #68B2A0;
        border: none;
        display: block;
        margin: auto;
    }

    img {
        height: 33px;
    }
}

.main-login-intro img {
    width: 100%;
    min-width: 1000px;
    height: 100%;
}

.main-login-left-intro {
    box-sizing: border-box;
    position: fixed;
    top: 12%;
    width: 50%;
    min-width: 200px;
    height: 88%;
    min-height: 500px;

    h1 {
        margin-top: 30%;
        margin-left: 24%;
        font-weight: bold;
        font-size: 6.66vmin;
        line-height: 9.7vmin;
        color: #FFFFFF;
        text-shadow: 1px 1px 10px #000;
    }

    .whiteline {
        margin-top: 2.6%;
        margin-left: 24%;
        border: 4px solid #FFFFFF;
    }

    h3 {
        margin-top: 2.6%;
        margin-left: 24%;
        font-weight: 500;
        font-size: 3.33vmin;
        line-height: 4.85vmin;
        color: #FFFFFF;
        text-shadow: 1px 1px 5px #000;
    }
}

.register-main {
    width: 100%;
    min-width: 1000px;
    height: 100%;
}

.main-login-right-intro {
    box-sizing: border-box;
    position: fixed;
    top: 12%;
    width: 50%;
    min-width: 200px;
    height: 88%;
    min-height: 500px;
    margin-left: 50%;

    section {
        margin-top: 23%;
        margin-left: 30%;
    }

    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 6.7%;
        color: #FFFFFF;
        text-shadow: 1px 1px 5px #000;
    }

    input {
        width: 100%;
        height: 7.8%;
        border: 4px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 24px;
        background-color: rgba(0, 0, 0, 0);
        color: #FFFFFF;
        font-size: 24px;
        text-align: center;
        padding: 5px 0;
        margin-bottom: 2%;
    }

    h4 input{
        font-weight: bold;
        padding-left: 2%;
        padding: 5px 0;
        color: white;
        font-size: 24px;
        text-align: center;
        margin-top: 5%;
    }
    
    .notice-users {
        color: white;
        margin-left: 6.5%
    }
}
