.input-window {
    display: flex;
    border-style: solid;
    border-radius: 24px;
    border-color: #68b2a0;
    border-width: 2px;
    width: 70%;
    margin: 15%;
}

.left {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: ". . . . ."
    ". type input-type input-type ."
    ". . . . ."
    ". location input-location input-location ."
    ". . . . ."
    ". capacity input-capacity input-capacity ."
    ". . . . ."
    ". price input-price input-price ."
    ". . . . .";
    text-align: center;
    font-size: 24px;
    line-height: 34.75px;
    font-weight: 400;
}

.left input {
    width: 60%;
    height: 40%;
    background-color: #FFFFFF;
    border-radius: 24px;
    border-color: black;
    border-width: 1px;
    padding: 5px 15px;
    text-align: center;
}

.type {
    grid-area: type;
}

.input-type {
    grid-area: input-type;
}

.location {
    grid-area: location;
}

.input-location {
    grid-area: input-location;
}

.capacity {
    grid-area: capacity;
}

.input-capacity {
    grid-area: input-capacity;
}

.price {
    grid-area: price;
}

.input-price {
    grid-area: input-price;
}

.right {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: ". . . . ."
    ". running input-running input-running ."
    ". . . . ."
    ". barbell input-barbell input-barbell ."
    ". . . . ."
    ". legpress input-legpress input-legpress ."
    ". . . . ."
    ". . submit . ."
    ". . submit . .";
    text-align: center;
    font-size: 24px;
    line-height: 34.75px;
    font-weight: 400;
}

.right input {
    width: 60%;
    height: 40%;
    background-color: #FFFFFF;
    border-radius: 24px;
    border-color: black;
    border-width: 1px;
    padding: 5px 15px;
    text-align: center;
}

.running {
    grid-area: running;
}

.input-running {
    grid-area: input-running;
}

.barbell {
    grid-area: barbell;
}

.input-barbell {
    grid-area: input-barbell;
}

.legpress {
    grid-area: legpress;
}

.input-legpress {
    grid-area: input-legpress;
}

.submit {
    grid-area: submit;
}

.submit button {
    width: 80%;
    height: 50%;
    background-color: #2C6975;
    border-radius: 24px;
    border-style: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
